@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
body {
    font-family: sans-serif;
}


header{
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
    height: 60;
}

header h1{
    padding: 12px;
    font-size: 25px;
    color: black;
    font-family: "Marck Script", cursive;
}

main{
    font-family: cursive;
}

main h2{
    text-align: center
}

footer{
    font-family: cursive;
}

footer a{
    color: black;
    text-decoration: none;
    font-family: "Marck Script", cursive;
}
